<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="javascript/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="javascript/adminPageController.js"></script>
    <link rel="stylesheet" href="stylesheets/commonPageCSS.css">
    <script>
        $(function(){
            $("#includedMenu").load("menuBar.html");
        });
        $(function(){
            $("#footer").load("footer.html");
        });
    </script>
</head>
    <body ng-app="adminPage">
        <p style="margin : 0; padding : 0; text-align: right;font-weight: bold;"><a href="/signIn.html">Sign In</a> | <a href="/signOut.html">Sign Out</a> |<a href="/signUp.html">Sign Up</a></p>
        <h1 id="title">Admin Dashboard</h1> <br>

        <!--Top Menu-->
        <div id="includedMenu"></div>  <br>

        <div>
            <div class="container"  style="background-color: #112233; margin: 0%; width: auto; padding: 0%" ng-controller="AppCtrl">
                
                <h2 style="color: yellow; padding-left: 10px">Product Information </h2>
                
                <table class="table table-responsive" style="background-color: #00B7FF;">
                    <thead>
                        <tr>
                            <form>
                            <td><input type="number" class="form-control" ng-model="newProduct.pid" placeholder="New P_ID" required></td>
                            <td><input class="form-control" ng-model="newProduct.productName" placeholder="New Product Name" required></td>
                            <td><input class="form-control" ng-model="newProduct.category" placeholder="New Category" required></td>
                            <td><input class="form-control" ng-model="newProduct.description" placeholder="New Description" required></td>
                            <td><input type="number" class="form-control" ng-model="newProduct.price" placeholder="New Price" required></td>
                            <td><button  type="submit" class="btn btn-primary" ng-click="addProduct(newProduct)">Insert</button></td>
                            <td><button class="btn btn-info" ng-click="updatePartDetails()">Update</button>
                            </form>
                        </tr>
                        <tr>
                            <th>P_ID</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Unit_Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="selectedProduct in productList">
                            <td><b><i>{{selectedProduct.pid}}</i></b></td>
                            <td>{{selectedProduct.productName}}</td>
                            <td>{{selectedProduct.category}}</td>
                            <td>{{selectedProduct.description}}</td>
                            <td>${{selectedProduct.price}}</td>
                            <td><button class="btn btn-danger" ng-click="deleteItem(selectedProduct.pid)">Delete</button></td>
                            <td><button class="btn btn-warning" ng-click="selectProductForModyfication(selectedProduct)">Modify</button></td>
                        </tr>
                    </tbody>
                </table>
                
                
                <h2 style="color: yellow; padding-left: 10px">Order Information</h2>
                
                <table class="table table-responsive" style="background-color: #00B7FF;">
                    <thead>
                        <col width="20%">
                        <tr>
                            <th>O_ID</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Total</th>     
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="selectedOrder in orderList">
                            <td><small><i>{{selectedOrder._id}}</i></small></td>
                            <td>{{selectedOrder.email}}</td>
                            <td>{{selectedOrder.name}}</td>
                            <td>{{selectedOrder.date}}</td>
                            <td>${{selectedOrder.total}}</td>        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </body>

        <!--Footer-->
        <br><div id="footer"></div>
    </body>
</html>