<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="javascript/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="javascript/cartPageController.js"></script>
    <link rel="stylesheet" href="stylesheets/commonPageCSS.css">
    <script>
        $(function(){
            $("#includedMenu").load("menuBar.html");
        });
        $(function(){
            $("#footer").load("footer.html");
        });
    </script>
</head>
    <body ng-app="cartPage">
        <p style="margin : 0; padding : 0; text-align: right;font-weight: bold;"><a href="/signIn.html">Sign In</a> | <a href="/signOut.html">Sign Out</a> |<a href="/signUp.html">Sign Up</a></p>
        <h1 id="title">Shopping Cart</h1> <br>

        <!--Top Menu-->
        <div id="includedMenu"></div>  <br>

        <div>
            <div class="container"  style="background-color: #112233; margin: 0%; width: auto; padding: 0%" ng-controller="AppCtrl">
                <table class="table table-responsive" style="background-color: #00B7FF;">
                    <tbody>
                    <tr>
                        <th>
                            <td>
                                Product ID
                            </td>
                            <td>
                                Item Description
                            </td>
                            <td>
                                Unit Price
                            </td>
                            <td>
                                Quantity
                            </td> 
                            <td>
                                Total Price
                            </td>
                            <td>                              
                            </td>
                        </th>
                    </tr>
                    <tr ng-repeat="itemInList in cartItems" style="background-color: #FFFF33;">
                        <th>
                            <td>
                                {{itemInList.pid}}
                            </td>
                            <td>
                                {{itemInList.productName}} - {{itemInList.category}}
                            </td>
                            <td>
                                ${{itemInList.price}}
                            </td>
                            <td>
                                {{itemInList.qty}}
                            </td> 
                            <td>
                                ${{itemInList.totalAmount}}
                            </td>
                            <td>
                                <button class="btn btn-block btn-warning" ng-click="removeItemFromCart(itemInList.pid)">Remove</button>
                            </td>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <td colspan="4">
                                Total Bill
                            </td>                           
                            <td>
                                {{totalCartBill}}
                            </td>
                            <td> 
                                <button class="btn btn-block btn-success" ng-click="checkout()">Checkout</button>
                            </td>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </body>

        <!--Footer-->
        <br><div id="footer"></div>
    </body>
</html>